@media only screen and (min-device-width: 1536px) {

  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .containerMobile,
  .containerMobileLinks {
    display: none;
  }  
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1536px) {

  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .containerMobile,
  .containerMobileLinks {
    display: none;
  } 
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) {

  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .containerMobile {
    display: none;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {

  .containerLinks,
  .container {
    display: none;
  }

  /* Styles pour containerLienMobile */
  .containerLienMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }

  /* Styles pour les liens dans containerLienMobile */
  .containerLienMobile a {
    color: #333;
    text-decoration: none;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
 

 /* Styles cachés pour containerLienMobile */
 .containerLienMobile.closed {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.2s ease-out;
}

/* Styles visibles pour containerLienMobile */
.containerLienMobile.open {
  max-height: 40vh;
  /* Ajustez selon le besoin */
  opacity: 1;
  visibility: visible;
  transition: max-height 0.3s ease-in, opacity 0.2s ease-in;
}
 
  .containerLinks,
  .container {
    display: none;
  }

  /* Styles pour containerLienMobile */
  .containerLienMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }

  /* Styles pour les liens dans containerLienMobile */
  .containerLienMobile a {
    color: #333;
    text-decoration: none;
  }
}