.container {
  font-family: "Bahnschrift Condensed", sans-serif;
  font-size: 1.5rem;
}

.link {
  float: left;
}

.active {
  display: flex;
  align-items: center;
}

.menuMobile,
.containerMobileLinks {
  display: none;
}

@media (min-width: 768px) {

  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .containerMobile {
    display: none;
  }
}

@media (max-width: 768px) {

  .containerLinks,
  .container {
    display: none;
  }

  /* Styles pour containerLienMobile */
  .containerLienMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
    padding: 10px;
  }

  /* Styles pour les liens dans containerLienMobile */
  .containerLienMobile a {
    color: #333;
    text-decoration: none;
  }  
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .containerMobile {
    margin-right: 15px;    
  }
 
  /*Styles pour containerLienMobile */
  .containerLienMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(40vh - 100px);
    background-color: rgba(246, 241, 235, 0.97);
    position: absolute;    
    right: 0;    
    top: 60px;
    width:  25%;   
    gap: 0.5rem;
    padding-top: 10px;
  }   

  /* Styles cachés pour containerLienMobile */
.containerLienMobile.closed {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.2s ease-out;
}

/* Styles visibles pour containerLienMobile */
.containerLienMobile.open {
  max-height: 40vh; /* Ajustez selon le besoin */
  opacity: 1;
  visibility: visible;
  transition: max-height 0.3s ease-in, opacity 0.2s ease-in;
}

  /* Styles pour les liens dans containerLienMobile */
  .containerLienMobile a {
    color: #333;
    text-decoration: none; 
  }

  .containerLinks,
  .container {
    display: none;
  }
}
