.container {
  font-family: "Bahnschrift Condensed", sans-serif;
  font-size: 1.5rem;
}

.link {
  float: left;
}

.active {
  display: flex;
  align-items: center;
}

.menuMobile,
.containerMobileLinks {
  display: none;
}

@media (min-width: 768px) {

  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .containerMobile {
    display: none;
  }
}

@media (max-width: 768px) {

  .containerLinks,
  .container {
    display: none;
  }

  /* Styles pour containerLienMobile */
  .containerLienMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
    padding: 10px;
  }

  /* Styles pour les liens dans containerLienMobile */
  .containerLienMobile a {
    color: #333;
    text-decoration: none;
  }  
}
