.divName {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.customImage {
  border-radius: 10px;
  height: 350px;
  width: 400px;
}

.customImage {
  transition: opacity 0.3s ease;
}

.customImage:hover {
  opacity: 0.8;
}
