.containerLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 2rem;
}
.container {
  font-family: "Bahnschrift Condensed", sans-serif;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .containerMobile {
    display: none;
  }
}
.link {
  float: left;
}
.active {
  display: flex;
  align-items: center;
}

.menuMobile,
.containerMobileLinks {
  display: none;
}

@media (max-width: 768px) {
  /* .containerLinks {
    display: none;
  }
  .containerMobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: calc(100vh - 100px);
    width: 40%;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 80;
  }
  .menuMobile {
    display: block;
    cursor: pointer;
  }

  .containerMobile {
    flex-direction: column;
  }

  .container {
    display: none;
  } */

  .containerLinks,
  .container {
    display: none;
  }

  /* Styles pour containerLienMobile */
  .containerLienMobile {
    display: flex;
    flex-direction: column; /* Afficher les éléments verticalement */
    align-items: flex-start; /* Aligner les éléments à gauche */
    gap: 10px; /* Espacement entre les éléments */
    padding: 10px; /* Ajouter un peu de marge intérieure */
  }

  /* Styles pour les liens dans containerLienMobile */
  .containerLienMobile a {
    color: #333; /* Couleur du texte des liens */
    text-decoration: none; /* Enlever le soulignement des liens */
  }

  /* Style pour le bouton du menu mobile */
  .menuMobile {
    cursor: pointer;
  }
}
