@tailwind base;
@tailwind utilities;

:root {
  --bgColor: #f8f8ff;
  --textColor: black;
  --autre: #990000;
}
/**#990000**/
body {
  background: rgb(129, 109, 109);
  color: var(--textColor);
  background-color: var(--bgColor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
