@tailwind base;
@tailwind utilities;

:root {
  --bgColor: #f8f8ff;
  --textColor: black;
  --ColorBase: rgb(182, 155, 155);
}

body {
  background: var(--ColorBase);
  color: var(--textColor);
  background-color: var(--bgColor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

