/* .main {
  margin-left: 2rem;
  margin-right: 2rem;
} */
.videoHome {
  width: 100%;
}
.containerLien {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de s'enrouler sur plusieurs lignes */
  justify-content: center;
  gap: 3rem;
  padding: 4rem;
  text-align: center;
  /* max-height: 350px; */
}

.imageContainer {
  position: relative;
}

.imageHome {
  width: 100%;
  height: 750px; /* Adjust height as needed */
}

.spanHome {
  color: white;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4rem;
  font-family: "Bahnschrift Condensed", sans-serif;
}
