.container {
  padding: 1rem 10%;  
  color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch; 
  height: 15vh;
}

.logo {
  font-size: 2rem;
}

.links-container {
  margin-left: auto;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(188, 143, 143, 0.8);
  color: white;
  z-index: 50;
}