.cardContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--autre);
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;
    border: 3px solid var(--button);
}